@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

[data-aos="fade-up-big"] {
    transform: translate3d(0, 600px, 0);
    opacity: 0;
}

[data-aos="fade-up-big"].aos-animate {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

[data-aos="fade-down-big"] {
    transform: translate3d(0, -600px, 0);
    opacity: 0;
}

[data-aos="fade-down-big"].aos-animate {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}